@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-background text-text-main antialiased selection:bg-primary selection:text-white;
  }
  
  h1, h2, h3, h4, h5, h6 {
    @apply font-bold text-white tracking-tight;
  }
}